header, nav{
    /* Set padding and margin */
    padding: 5px 10px 15px 20px;
    margin: 25px 30px 35px 40px;
}


nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background-color: #FEE4C3;
}


nav a{
    /* Set text decoration*/
    text-decoration: none;
}


a:visited{
    /* Set color */
    color: black;
}


nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy;
    text-underline-offset: 6px;
    text-transform: uppercase;
}